@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #05668D;
    --secondary-color: #02C39A;
    --tertiary-color: #028090;
    --quaternary-color: #00A896;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    /*background: var(--primary-color);*/
}

.bg-main {
    background-image: url('../img/bg-main.svg');
    background-size: cover;
}

.container {
    max-width: 540px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    filter: drop-shadow(5px 5px 3px rgba(211, 212, 158, 0.5));
    color: var(--primary-color);
}

input {
    width: 20rem;
    height: 3rem;
    padding: 10px;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 4px;
    color: var(--secondary-color);
    filter: drop-shadow(3px 3px 3px rgba(194, 166, 166, 0.5));
}

button {
    border: none;
    padding: 10px;
    height: 3rem;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    border-radius: 4px;
    color: white;
    background-image: linear-gradient(to right, var(--secondary-color) 0%, var(--quaternary-color) 51%, var(--tertiary-color) 100%);
    cursor: pointer;
    filter: drop-shadow(3px 3px 3px rgba(240, 243, 189, 1));
}

button:hover {
    border: 1px solid var(--quaternary-color);
    transition: 1s;
    color: var(--tertiary-color);
    background: white;
}